<header data-controller='menu'>
  <% if user_signed_in? %>
    <%= link_to image_tag('home.svg'), root_path, class: 'home-link'%></div>
    <div class='nav-toggle-label' data-action='click->menu#toggle'>
      <span></span>
    </div>
    <nav class='logged-in-nav' data-menu-target='menu'>
      <ul class="nav-links">
        <li data-menu-target='text'><%= link_to 'Users' , profiles_path %></li>
        <li data-menu-target='text'><%= link_to 'Profile' , profile_path(current_user.profile) %></li>
        <li data-menu-target='text'><%= link_to "Notifications(#{current_user.requestors.count})" , '/friend_requests' %></li>
        <li data-menu-target='text'><%= link_to 'Sign Out' , destroy_user_session_path, data: { 'turbo-method': :delete } %></li>
      </ul>
    </nav>
  <% else %>
    <nav class='logged-out-nav'>
      <ul>
        <li><%= link_to 'Log In' , new_user_session_path %></li>
        <li><%= link_to 'Sign Up' , new_user_registration_path %></li>
      </ul>
    </nav>
  <% end %>
</header>