<h1>Friend Requests</h1>
<% @requestors.each do |requestor| %>
  <%= requestor.name %>
  <%= form_with url: '/friendships' do |form| %>
    <%= form.hidden_field :friend1_id, value: current_user.id %>
    <%= form.hidden_field :friend2_id, value: requestor.id %>
    <%= form.submit 'Accept Friend Request' %>
  <% end %>
<% end %>