<h3>New post:</h3>
<%= render partial: 'post_form', locals: { post: @post }%>

<% @posts.each do |post| %>
  <div class="post">
    <div class="postAuthor">
      <b>User:</b> <%= link_to post.user.name, user_path(post.user) %>
    </div>
    <div class="post_body">
      <b>Post:</b> <%= post.body%>
    </div>
    <div class="likes">
      <b>Likes:</b> <%= post.likes.size %>
    </div>
    <div class="comment_form">
      <%= render partial: 'comments/comment_form', locals: { comment: @comment, post_id: post.id }%>
    </div>
    <div class="comments">
      <b>Comments:</b>
      <% post.comments.each do |comment| %>
        <div class="comment">
          <b>User:</b> <%= comment.user.name %>
          <b>Comment:</b> <%= comment.body %>
          <b>Likes:</b> <%= comment.likes.size %>
        <% end %>
        </div>
    </div>
    <br><br><br>
  </div>
<% end %>
